<nav class="navbar navbar-expand-lg navbar-light m-0 p-0">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item " *ngFor="let category of categories">
                <button 
                    class="nav-link custom-link mx-1 p-3" 
                    [ngClass]="{'active': (isHighlighted && activeCategory === category)}" 
                    (click)="setActive(category)">
                    {{ category }}
                </button>
            </li>
        </ul>
    </div>
</nav>